#register {
    display: block;
    background-color: #729949;
    padding-top: 50px;
    padding-bottom: 50px;
    color:#fff
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.error {
    border: 2px solid #900;
}

input:valid + .invalid {
	visibility: hidden;
}

input:valid + .invalid {
	visibility: visible;
}

input:valid + .invalid {
	/*border: 2px solid #900;*/
}

input:valid {
	border: 2px solid #ccc;
}

.invalid {
	margin-top:0px;
	margin-bottom:4px;
	font-size:0.8em;
	color:#666;
}